# Hands-on: `pandas` & Data Cleaning

This hands-on will cover handling data using the `pandas` library.
- Reading in data
- Descriptive statistics
- Data wrangling
- Filtering
- Aggregation
- Merging

_This notebook was derived from the Introduction to Data Science notebooks by Unisse Chua, Jude Teves and Sashmir Yap of the Data Science Institute._

In [1]:
# all imports are placed at the top of the notebook 
# to ensure that any library needed to fully run the notebook are loaded (and installed)
import os

import pandas as pd
import numpy as np

from pathlib import Path

### Reproducibility

With data science, or any project that requires data processing and analysis, it is important to ensure that the code provided can be replicated by other members of the team. One such way is by setting up an **environment variable** that represents a central location for the data files.

Steps: 
1. Create a folder in your computer to serve as the location for all the data files of your project.
2. Save the directory path as an environment variable. The name of the variable should be the same for all team members so that everyone would simply have to use this name across their code.

This folder will host **only DATA files**. Code may be kept elsewhere. The code simply needs to reference to this folder when accessing and saving data files.

In [12]:
DSDATA = Path(os.getenv('DSDATA'))
# DSDATA = Path('/Users/brianesamson/Projects/datapre-notebooks/notebooks/data')
DSDATA

PosixPath('/Users/brianesamson/Projects/datapre-notebooks/notebooks/data')

## Data

The Philippines has an Open Data portal: https://data.gov.ph

For this exercise, we'll be using the [Public Elementary School Enrollment Statistics](https://data.gov.ph/?q=dataset/public-elementary-school-enrollment-statistics) provided by the Department of Education. The page contains two files. Download both files and save them to the same folder as this notebook.

## Reading Data

"`pandas` is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language." - [Source](https://pandas.pydata.org/pandas-docs/stable/)

Commonly used file types for published *(semi-)* structured data are **CSV (or TSV)** and sometimes even **Excel** (although this is not an 'open' format). In `pandas`, it's straightforward to read in these types of files.

In [ ]:
pd.read_csv?

In [ ]:
pd.read_excel?

In [13]:
# by default, the encoding is utf-8, but since the data has some latin characters
# the encoding argument needs to be updated
deped2012 = pd.read_csv(DSDATA / 'deped_publicelementaryenrollment2012.csv', encoding='latin1')

# the head function provides a preview of the first 5 rows of the data
deped2012.head()

,school_id,school_name,region,province,municipality,division,district,year_level,gender,enrollment
0,101746,"A. Diaz, Sr. ES",I (Ilocos Region),Pangasinan,Bautista,"Pangasinan II, Binalonan",Bautista,grade 1,male,53
1,102193,A. P. Santos ES (SPED Center),I (Ilocos Region),Ilocos Norte,Laoag City (Capital),Laoag City,Laoag City District II,grade 1,male,31
2,101283,A.P. Guevarra IS,I (Ilocos Region),Pangasinan,Bayambang,"Pangasinan I, Lingayen",Bayambang II,grade 1,male,16
3,100216,Ab-Abut ES,I (Ilocos Region),Ilocos Norte,Piddig,Ilocos Norte,Piddig,grade 1,male,19
4,100043,Abaca ES,I (Ilocos Region),Ilocos Norte,Bangui,Ilocos Norte,Bangui,grade 1,male,12

In [14]:
# Let's read in the other file too
deped2015 = pd.read_csv(DSDATA / 'depend_publicelementaryenrollment2015.csv', encoding='latin1')
deped2015.head()

,region,province,municipality,division,school_id,school_name,year_level,gender,enrollment,latitude,longitude
0,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100001,Apaleng-libtong ES,grade 1,male,9,18.253666,120.60618
1,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100002,Bacarra CES,grade 1,male,41,18.25096389,120.6089583
2,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100003,Buyon ES,grade 1,male,7,18.234599,120.616037
3,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100004,Ganagan Elementary School,grade 1,male,8,18.25001389,120.5871694
4,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100005,Macupit ES,grade 1,male,5,18.29399444,120.6410194

### Let's begin exploring the data...

* How many rows and columns do we have? 
* What is the data type of each column? 
* What is the most common value? Mean? Standard deviation?

#### `shape`

A `pandas` `DataFrame` is essentially a 2D `numpy` array. Using the `shape` attribute of the `DataFrame`, we can easily check the dimensions of the data file we read. It returns a tuple of the dimensions.

In [15]:
deped2012.shape

(463908, 10)

In [16]:
deped2015.shape

(396288, 11)

#### `dtypes` 
`dtypes` lets you check what data type each column is.

In [17]:
deped2012.dtypes

school_id        int64
school_name     object
region          object
province        object
municipality    object
division        object
district        object
year_level      object
gender          object
enrollment       int64
dtype: object

#### `describe()`
`describe()` provides the basic descriptive statistics of the`DataFrame`. By default, it only includes the columns with numerical data. Non-numerical columns are omitted but there are arguments that shows the statistics related to non-numerical data.

In [18]:
deped2012.describe()

           school_id     enrollment
count  463908.000000  463908.000000
mean   123102.439820      28.582152
std     22010.932343      44.727529
min    100001.000000       0.000000
25%    109747.000000       9.000000
50%    119533.000000      16.000000
75%    129325.000000      31.000000
max    261503.000000    1047.000000

In [14]:
deped2012.describe(include=np.object)

,school_name,region,province,municipality,division,district,year_level,gender
count,463908,463908,463908,463908,463908,463908,463908,463908
unique,29699,17,86,1437,206,2415,6,2
top,San Isidro ES,VIII (Eastern Visayas),Leyte,Davao City,Leyte,Rizal,grade 1,male
freq,2328,43728,15612,3420,14136,1608,77318,231954

### Data Wrangling

After looking at the basic information about the data, let's see how "clean" the data is

#### Common Data Problems (from slides)
1. Missing values
2. Formatting issues / data types
3. Duplicate records
4. Varying representation / Handle categorical values

#### `isna()` / `isnull()`

To check if there's any missing values, `pandas` provides these two functions to detect them. This actually maps each individual cell to either True or False.

#### `dropna()`

To remove any records with missing values, `dropna()` may be used. It has a number of arguments to help narrow down the criteria for removing the records with missing values.

In [19]:
deped2012.isna().sum()

school_id       0
school_name     0
region          0
province        0
municipality    0
division        0
district        0
year_level      0
gender          0
enrollment      0
dtype: int64

In [ ]:
deped2012.dropna?

#### `duplicated()` --> `drop_duplicates()`

The `duplicated()` function returns the duplicated rows in the `DataFrame`. It also has a number of arguments for you to specify the subset of columns. 

`drop_duplicates()` is the function to remove the duplicated rows found by `duplicated()`.

In [21]:
deped2012.duplicated().sum()

0

In [ ]:
deped2012.drop_duplicates?

#### Varying representation

For categorical or textual data, unless the options provided are fixed, misspellings and different representations may exist in the same file.

To check the unique values of each column, a `pandas` `Series` has a function `unique()` which returns all the unique values of the column.

In [22]:
deped2012['province'].unique()

array(['Pangasinan', 'Ilocos Norte', 'Ilocos Sur', 'La Union', 'Isabela',
       'Nueva Vizcaya', 'Cagayan', 'Quirino', 'Batanes', 'Nueva Ecija',
       'Bataan', 'Bulacan', 'Aurora', 'Zambales', 'Tarlac', 'Pampanga',
       'Batangas', 'Quezon', 'Laguna', 'Rizal', 'Cavite', 'Palawan',
       'Oriental Mindoro', 'Occidental Mindoro', 'Romblon', 'Marinduque',
       'Camarines Sur', 'Camarines Norte', 'Masbate', 'Sorsogon', 'Albay',
       'Catanduanes', 'Negros Occidental', 'Iloilo', 'Antique', 'Capiz',
       'Aklan', 'Guimaras', 'Bohol', 'Negros Oriental', 'Cebu',
       'Siquijor', 'Eastern Samar', 'Leyte', 'Western Samar',
       'Northern Samar', 'Southern Leyte', 'Biliran', 'Zamboanga del Sur',
       'Zamboanga Sibugay', 'Zamboanga del Norte', 'City of Isabela',
       'Misamis Occidental', 'Lanao del Norte', 'Misamis Oriental',
       'Bukidnon', 'Camiguin', 'Davao del Sur', 'Davao del Norte',
       'Davao Oriental', 'Compostela Valley', 'South Cotabato',
       'Sarangani', 'North Cotabato', 'Sultan Kudarat',
       'City of Cotabato', 'Surigao del Sur', 'Agusan del Norte',
       'Dinagat Islands', 'Surigao del Norte', 'Agusan del Sur',
       'Lanao del Sur', 'Sulu', 'Tawi-Tawi', 'Basilan', 'Maguindanao',
       'Kalinga', 'Ifugao', 'Abra', 'Mountain Province', 'Benguet',
       'Apayao', 'NCR Second District', 'NCR Third District',
       'NCR Fourth District', 'Manila, NCR, First District'], dtype=object)

In [ ]:
deped2012['year_level'].unique()

In [32]:
deped2012['region'].unique()

array(['I (Ilocos Region)', 'II (Cagayan Valley)', 'III (Central Luzon)',
       'IV-A (CALABARZON)', 'IV-B (MIMAROPA)', 'V (Bicol Region)',
       'VI (Western Visayas)', 'VII (Central Visayas)',
       'VIII (Eastern Visayas)', 'IX (Zamboanga Peninsula)',
       'X (Northern Mindanao)', 'XI (Davao Region)', 'XII (SOCCSKSARGEN)',
       'XIII (Caraga)', 'ARMM (Autonomous Region in Muslim Mindanao)',
       'CAR (Cordillera Administrative Region)',
       'NCR (National Capital Region)'], dtype=object)

In [31]:
deped2015['region'].unique()

array(['Region I - Ilocos Region', 'Region II - Cagayan Valley',
       'Region III - Central Luzon', 'Region IV-A - CALABARZON',
       'Region IV-B - MIMAROPA', 'Region V - Bicol Region',
       'Region VI - Western Visayas', 'Region VII - Central Visayas',
       'Region VIII - Eastern Visayas', 'Region IX - Zamboanga Peninsula',
       'Region X - Northern Mindanao', 'Region XI - Davao Region',
       'Region XII - SOCCSKSARGEN', 'CARAGA - CARAGA',
       'ARMM - Autonomous Region in Muslim Mindanao'], dtype=object)

### Summarizing Data

High data granularity is great for a detailed analysis. However, data is usually summarized or aggregated prior to visualization. `pandas` also provides an easy way to summarize data based on the columns you'd like using the `groupby` function.

We can call any of the following when grouping by columns:
- count()
- sum()
- min()
- max()
- std()

For columns that are categorical in nature, we can simply do `df['column'].value_counts()`. This will give the frequency of each unique value in the column.

In [23]:
# pd.Series.value_counts()

deped2015['region'].value_counts()

Region VIII - Eastern Visayas                  41484
Region VI - Western Visayas                    39204
Region V - Bicol Region                        35892
Region VII - Central Visayas                   33768
Region III - Central Luzon                     33336
Region IV-A - CALABARZON                       31452
Region I - Ilocos Region                       27648
Region II - Cagayan Valley                     24924
Region IX - Zamboanga Peninsula                23724
Region X - Northern Mindanao                   23532
Region IV-B - MIMAROPA                         20232
Region XI - Davao Region                       18420
CARAGA - CARAGA                                18408
Region XII - SOCCSKSARGEN                      18228
ARMM - Autonomous Region in Muslim Mindanao     6036
Name: region, dtype: int64

In [ ]:
deped2012.groupby?

#### Exercise! 

Let's try to get the following:
1. Total number of enrolled students per region and gender
2. Total number of enrolled students per year level and gender

In [24]:
deped2012.groupby(['region', 'gender'], as_index=False).sum()

,region,gender,school_id,enrollment
0,ARMM (Autonomous Region in Muslim Mindanao),female,1981060044,325728
1,ARMM (Autonomous Region in Muslim Mindanao),male,1981060044,299438
2,CAR (Cordillera Administrative Region),female,1301046546,102069
3,CAR (Cordillera Administrative Region),male,1301046546,113411
4,I (Ilocos Region),female,1481294424,298996
5,I (Ilocos Region),male,1481294424,330234
6,II (Cagayan Valley),female,1396560900,207741
7,II (Cagayan Valley),male,1396560900,226833
8,III (Central Luzon),female,1965169458,629770
9,III (Central Luzon),male,1965169458,685337
10,IV-A (CALABARZON),female,1814452494,768652
11,IV-A (CALABARZON),male,1814452494,836389
12,IV-B (MIMAROPA),female,1271909262,224875
13,IV-B (MIMAROPA),male,1271909262,248030
14,IX (Zamboanga Peninsula),female,1619836632,278387
15,IX (Zamboanga Peninsula),male,1619836632,302026
16,NCR (National Capital Region),female,438511446,601227
17,NCR (National Capital Region),male,438511446,644892
18,V (Bicol Region),female,2190420960,467493
19,V (Bicol Region),male,2190420960,521294
20,VI (Western Visayas),female,2419755186,491396
21,VI (Western Visayas),male,2419755186,546490
22,VII (Central Visayas),female,2157645486,488937
23,VII (Central Visayas),male,2157645486,541420
24,VIII (Eastern Visayas),female,2754627936,336485
25,VIII (Eastern Visayas),male,2754627936,370882
26,X (Northern Mindanao),female,1648145328,314561
27,X (Northern Mindanao),male,1648145328,343111
28,XI (Davao Region),female,1307008878,326488
29,XI (Davao Region),male,1307008878,356601
30,XII (SOCCSKSARGEN),female,1426850814,304751
31,XII (SOCCSKSARGEN),male,1426850814,322966
32,XIII (Caraga),female,1379807532,192611
33,XIII (Caraga),male,1379807532,209968

In [ ]:
deped2012.groupby(['year_level', 'gender']).sum()

### Merging Data

Data are sometimes separated into different files or additional data from another source can be associated to another dataset. `pandas` provides means to combine different `DataFrames` together (provided that there are common variables that it can connect them to.

#### `pd.merge`
`merge()` is very similar to database-style joins. `pandas` allows merging of `DataFrame` and **named** `Series` objects together. A join can be done along columns or indexes.

#### `pd.concat`
`concat()` on the other hand combines `pandas` objects along a specific axis.

#### `df.append`
`append()` basically adds the rows of another `DataFrame` or `Series` to the end of the caller.

In [ ]:
pd.merge?

In [ ]:
pd.concat?

In [ ]:
deped2012.append?

#### Exercise

The task is to compare the enrollment statistics of the elementary schools between 2012 and 2015. 

1. Get the total number of enrolled students per school for each year
2. Merge the two `DataFrame`s together to show the summarized statistics for the two years for all schools.

In [ ]:
stats2012 = deped2012.groupby('school_id', as_index=False).sum()
stats2015 = deped2015.groupby('school_id', as_index=False).sum()

In [41]:
stats2012.head()

   school_id  enrollment
0     100001          72
1     100002         365
2     100003         138
3     100004          89
4     100005          73

In [ ]:
stats2012.shape

In [42]:
stats2015.head()

   school_id  enrollment
0     100001          72
1     100002         407
2     100003         152
3     100004         107
4     100005          67

In [ ]:
stats2015.shape

#### Observations

1. Are the number of rows for both `DataFrames` the same or different? What's the implication if they're different?
2. Note the same column names for the two `DataFrames`. Based on the documentation for `merge()`, there's a parameter for suffixes for overlapping column names. If we want to avoid the "messy" suffixes, we can choose to rename columns prior to merging.

One way is to assign an array to the columns object representing the column names for ALL columns.

```ipython
stats2012.columns = ['school_id', '2012']
stats2015.columns = ['school_id', '2015']
```

But this is not good if you have too many columns... `pandas` has a function `rename()` in which we can pass a "mappable" dictionary for the columns. The `inplace` parameter helps in renaming it and assigns the changed `DataFrame` back to the same variable.

```ipython
stats2012.rename(columns={'enrollment': '2012'}, inplace=True)
stats2015.rename(columns={'enrollment': '2015'}, inplace=True)
```

In [ ]:
# try the code above

In [ ]:
## Merge the two dataframes using different "how" parameters
# how : {'left', 'right', 'outer', 'inner'}, default 'inner'